ul.Menu {
  list-style-type: none;
  margin: 0;
  padding: 30 px ; /*Cor de fundo do Menu */
  box-sizing: border-box;
  background-color: #0a0a0a; /*Cor de fundo ao passar o mouse */
  position: center ;
  transition: background .5s;
  display: inline;
 }

 ul.Menu li a {
  display: inline-block; /* isso faz com que os itens fiquem na mesma linha*/
  color: white;/* Cor do texto do Menu */
  margin-right: 20 px ; /* Adicione o espaçamento desejado entre os itens */
  font-size:20 px;
  font-weight:400 px;
  padding:0 px;
  justify-content:center;/* centralizar horizontalemente*/
  float: none;
  cursor: pointer;
  }
 ul.Menu li{
  display: inline; /* isso faz com que os itens fiquem na mesma linha*/
  margin: 10px;
  margin-right:20px;
 }
 a.Menu li a:hover {
  background-color:DarkTurquoise; /*Cor de fundo ao passar o mouse */
  }
  body{
    font-size: 12 px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
    font-family: "Arial", Arial; /* este deve ser o nome da fonte que você obteve no Google Fonts */
    background-image:url("fundorg.jpg");
    background-size:cover;
    background-position:center;
    display: block;
    margin:0;
    padding:5px 5px 5px 5px;
    background-repeat: no-repeat;/* Para evitar que a imagem seja repetida */
    float: center;
    position:center;
  }
  h1 {
    font-size: 12 px;
    text-align: center;
    color: black;
  }

  .button {
    display: inline;
    padding: 1 rem;
    border-radius: 4  px;
    word-spacing: 8 px;
    font-weight: 20 px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2 px;
    background-color: coral;
    transition: .3 s;
    cursor: pointer;
    justify-content:center;
  }
  
  .button:hover {
    box-shadow: 0 0 10 px 0 px ,black;
  }
  
  .return-button{
    display: inline; /* isso faz com que os itens fiquem na mesma linha*/
    background-color: 0;/* Cor do texto do Menu */
    margin-right: 10 px; /* Adicione o espaçamento desejado entre os itens */
    font-size: ;
    font-weight: ;
    padding: 10 px 1opx 10px 10 px; /* Espaçamento interno do botão*/
    border-radius:5 px; /*borda arredondada*/
    text-decoration: none; /* remova o sublinahdo do link*/
    transition:background-color 0.3s;/*Efeito transição ao passar o mouse*/
  }
 .return-button img{
    vertical-align:middle;/* Centralizar verticalmente a imagem*/
    margin-right: 20px;/* Margem a direita da imagem para separa-la do texto */
    max-width: 30px;
    max-height: 30px;
  }
 .return-button:hover{
    background-color: 0/* Cor do fundo do botão ao passar o mouse*/
  }    


