*{
    box-sizing: 0;
}

body{    
    background-image:url(fundoredu.png);
    background-size:cover;
    background-repeat:no-repeat;
    text-align:center;
    }

h1{
    color: white;
}

.navbar{
    display:flex;
    height:50 px;
    background: black;
    justify-content: center;
    align-items: center;
}

.logo{
    display:flex;
    align-items:center;/* Centralizar verticalmente a imagem*/
     }
.logo-img{
     height: 10px;
     margin-right: 2px;/* Margem a direita da imagem para separa-la do texto */
}

.menu1{
    flex: 80%;
    text-align: center;
    padding: 10 px;
      
    }

.menu1 a{
    color: white;
    color-border:black;
    font-border:2px;
    font-size: 30px;
    text-decoration: none;
    padding: 25px 25px;
    margin-left: 70px;
    text-align: center;
    margin-right: 70px;
}
.menu1 a:hover{
    color: burlywood;
}

.div botaocontribuicao{
    border-radius: 100rem;
    padding:1em;
    font-size:30px;
    padding: 9px 9px;
    color:#555555;
    text-decoration:none;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #AE8625,#F7EF8A,#D2AC47,#EDC967);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 800px 1px #fff inset;
    
  }

.div botaocontribuicao:hover{
    box-shadow: none;
    color: rgba(AE8625,F7EF8A,D2AC47,EDC967);
    border-radius: 5px;
}

.mensagem{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.div return-button{
    display: inline; /* isso faz com que os itens fiquem na mesma linha*/
    margin-right: 2px; /* Adicione o espaçamento desejado entre os itens */
    border-radius:1px; /*borda arredondada*/
    text-decoration: none; /* remova o sublinahdo do link*/
    transition:background-color 0.3 s;/*Efeito transição ao passar o mouse*/
  }
.div return-button-img{
    vertical-align:middle;/* Centralizar verticalmente a imagem*/
    margin-right:20 px;/* Margem a direita da imagem para separa-la do texto */
    margin-left:0;
    width:30 px;
    height:30 px;
   }

.button {
    border-radius: 100rem;
    padding:1em;
    font-family:'open_sanslight';
    font-size:1.2em;
    padding:.5rem 3rem;
    color:#555555;
    text-decoration:none;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #AE8625,#F7EF8A,#D2AC47,#EDC967);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
}
.button:hover {
    box-shadow: none;
    color: (#AE8625,#F7EF8A,#D2AC47,#EDC967);
    border-radius: 5px;
  }
.response{
    text-align:center;
    margin:20px;
    color:green;
}
    







 
