ul.Menu {
  margin: 0;
  padding:20 px; /*Cor de fundo do Menu */
  box-sizing: border-box;
  background-color: black; /*Cor de fundo ao passar o mouse */
  position: center ;
  transition: background .4 s;
  margin-right: 40 px ; /* Adicione o espaçamento desejado entre os itens */
  }
ul.Menu li a {
  display: inline-block; /* isso faz com que os itens fiquem na mesma linha*/
  color: white;/* Cor do texto do Menu */
  margin-right:20 px ; /* Adicione o espaçamento desejado entre os itens */
  font-size:20 px;
  font-weight: 20 px;
  padding:0;
  }
ul.Menu li{
  display: inline; /* isso faz com que os itens fiquem na mesma linha*/
}
a.Menu li a:hover {
  background-color:(0,0,0); /*Cor de fundo ao passar o mouse */
  }
   body{
    font-size: 12 px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
    font-family: "Open Sans", sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
    background-size: cover;
    background-image:url("fundorg.jpg");
    display: block;
    margin-right: auto;
    background-repeat: no-repeat;/* Para evitar que a imagem seja repetida */
    float: center;
    background-position-x:center;
    background-position-y:center;
   }

  h1 {
    font-size: 12 px;
    text-align: center;
    color: black;
   }

  .button {
    display: inline;
    padding: 1 rem;
    border-radius: 4  px;
    word-spacing: 8 px;
    font-weight: 20 px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2 px;
    background-color: coral;
    transition: .3 s;
    cursor: pointer;
  }
  
  .button:hover {
    box-shadow: 0 0 10 px 0 px black;
  }
  
  .return-button{
    display: inline; /* isso faz com que os itens fiquem na mesma linha*/
     background-color: 0/* Cor do texto do Menu */
     margin-right: 2 px; /* Adicione o espaçamento desejado entre os itens */
     font-size: ;
     font-weight: ;
     padding: 10 px 20 px; /* Espaçamento interno do botão*/
     border-radius:5 px; /*borda arredondada*/
     text-decoration: none; /* remova o sublinahdo do link*/
     transition:background-color 0.3s;/*Efeito transição ao passar o mouse*/
 }
 .return-button img{
    vertical-align:middle;/* Centralizar verticalmente a imagem*/
    margin-right: 10px;/* Margem a direita da imagem para separa-la do texto */
    max-width: 30px;
    max-height: 30px;
 }
 .return-button:hover{
    background-color: 0/* Cor do fundo do botão ao passar o mouse*/
 }    

.return-button{
        display: inline; /* isso faz com que os itens fiquem na mesma linha*/
         background-color: 0/* Cor do texto do Menu */
         margin-right: 2px; /* Adicione o espaçamento desejado entre os itens */
         font-size: ;
         font-weight: ;
         padding: 10px 20px; /* Espaçamento interno do botão*/
         border-radius:5px; /*borda arredondada*/
         text-decoration: none; /* remova o sublinahdo do link*/
         transition:background-color 0.3s;/*Efeito transição ao passar o mouse*/
     }
     .return-button img{
        vertical-align:middle;/* Centralizar verticalmente a imagem*/
        margin-right: 10px;/* Margem a direita da imagem para separa-la do texto */
        max-width: 30px;
        max-height: 30px;
     }
     .return-button:hover{
        background-color: 0/* Cor do fundo do botão ao passar o mouse*/
     }
   
