.header{
    background-color:white;
    padding:3px;
}
*{
     
},
*:before,
*:after {
     background: linear-gradient(101deg, darkgoldenrod, khaki, peru, sandybrown);
    background-repeat: no-repeat;
     padding:5px; 
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    overflow-y: visible;
    widtg:100%;
    min-heigth:100px;
}
main{
     widtg:100%;
     min-heigth:100px;
}
main .center{
    padding:5px 0,32px;
    text-align:center;
   
}

/*** msg de erro ***/
main .center > #err-msg{
    font-size: 28px;
    text-align: center;
    color: red;
    padding-bottom:  16px;
    display: none;
}

/*** inputs ***/
form input[type=radio]{
   display: none;
} 



label{
    width: 17px;  
    height: 17px;
    margin-right: 4px;
    background-color:  var(--white);
    border: 3px solid pink;
    display: inline;
    cursor: pointer;
    position: relative;
} 

form input[type = "radio"]:checked + label{
    background-color: var(--orange);
    border:  2px solid var(--blue);
    display: inline-block;
    background:  url() no-repeat center/cover,  var(--orange);
} 

/*** Text**/
.text{
    text-align: center;
    padding-top: 5px;
    padding-bottom:10px;
    font-size:  30px;
    font-weight: 700;
    color:  var(--orange);
}

/** Section wraper **/
section.wraper{
    width: 100%;
    max-width: 450px;
    border: 2px solid var(--orange);
    border-radius: 8px;
    padding:10px 2%;
    margin: 0 auto;
}
section h1{
    font-size:20px;
    
}

section.wraper h3{
    padding-bottom: 15px;
}

section form .resposta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.paragrafo{
    width: 93%;
}

.paragrafo p{
    color: var(--orange);
}

.resposta:not(:last-of-type){
    margin-bottom:  14px;
}

button h1{
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 14px;
    border-radius: 5px 3px pink;
    transition: 0.6s;
    align-items:center;
}
/** Button **/
button{
    outline:  0;
    border: 1px solid var(--green);
    background-color:  var(--green-ligth);
    width:  100px;
    padding: 3px 0;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 14px;
    border-radius: 20px;
    transition: 0.6s;
    align-items:center;
}

button:hover{
    background-color: var(--green);
    color: red;
}

/***Início***/
section.bloco, section.res-final{
    width: 100%;
    max-width: 450px;
    height:  80%;
    margin:0;
    padding-bottom: 20px;
    padding-top: 5px;
    position: center;

    align-items:center;
} 

section.bloco > img{
    width: 100%;
    height: 100%;
   
}

section.bloco > button{
    position: absolute;
    top: 0;
    left:  0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/***Over***/
section.bloco.over .text h3{
    color: red;
}

/***Contador***/
#cont{
    color:  red;
    padding-top: 12px;
}

/*** Resultado final ***/
section.res-final h3{
    color:  var(--green-ligth);
}

section.res-final > img{
    width: 100%;
    height:  100%;
    opacity: 0.3;
}

section.res-final .text{
    position: absolute;
    top: 0;
    left: 0;
    top:  50%;
    width: 100%;
    transform: translateY(-50%);
}

section.res-final .text img{
    width:  80px;
    height: 80px;
}

.return-button{
    display: inline; /* isso faz com que os itens fiquem na mesma linha*/
    background-color: 0;/* Cor do texto do Menu */
    margin-right: 2 px; /* Adicione o espaçamento desejado entre os itens */
    font-size: ;
    font-weight: ;
    padding: 10 px 10px 10px 10 px; /* Espaçamento interno do botão*/
    border-radius:5 px; /*borda arredondada*/
    text-decoration: none; /* remova o sublinahdo do link*/
    transition:background-color 0.3s;/*Efeito transição ao passar o mouse*/
  }
.return-button img{
    vertical-align:middle;/* Centralizar verticalmente a imagem*/
    margin-right: 20px;/* Margem a direita da imagem para separa-la do texto */
    max-width: 30px;
    max-height: 30px;
  }
.return-button:hover{
    background-color: 0/* Cor do fundo do botão ao passar o mouse*/
  } 

/** Mediaqueries **/
@media screen and (max-width: 374px){
    .paragrafo{
        width:  91.7%;
    }
}

@media screen and (max-width: 550px){
    section.res-final .text h3{
        font-size:  25px;
    }

    section.bloco.over .text h3{
        color: red;
        font-size:  24px;
    }
}
