html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: sans-serif;
    padding: 1rem;
    background-color: orange;
    border-box:20px;
    text-align:center;
}
.quiz,
.choices {
    list-style-type: none;
    padding: 0;
}
.choices li {
    margin-bottom: 5px;
}
.choices label {
    display: flex;
    text-align: center;
}
.choices label,
input[type="radio"] {
    cursor: pointer;
}
input[type="radio"] {
    margin-right: 8px;
}
.view-results {
    padding: 1rem;
    cursor: pointer;
    font-size: inherit;
    color: white;
    background: teal;
    border-radius: 8px;
    margin-right: 5px;
}
.my-results {
    padding: 1rem;
    border: 1px solid linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, darkgoldenrod, khaki, peru, sandybrown);
;
}
.return-button{
    display:middle; /* isso faz com que os itens fiquem na mesma linha*/
    background-color: 0;/* Cor do texto do Menu */
    margin-right: 2 px; /* Adicione o espaçamento desejado entre os itens */
    font-size: ;
    font-weight: ;
    padding: 10px 10px 10px 10px; /* Espaçamento interno do botão*/
    border-radius:5px; /*borda arredondada*/
    text-decoration: none; /* remova o sublinahdo do link*/
    transition:background-color 0.3s;/*Efeito transição ao passar o mouse*/
  }
.return-button img{
    vertical-align:middle;/* Centralizar verticalmente a imagem*/
    margin-right: 20px;/* Margem a direita da imagem para separa-la do texto */
    max-width: 30px;
    max-height: 30px;
  }
.return-button:hover{
    background-color: 0/* Cor do fundo do botão ao passar o mouse*/
  } 
