@import url("https://fonts.googleapis.com/css2?family=Poppons:wght@400;500;600&display=swap");

*{
    margin: 2px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap:5px;
    background-color: blue;
}
body h2 {
    color:white;
}
main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.content {
    display:flex;
    flex-direction: column;
    width: 100%;
    gap:10px;

}
.spnQtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    background-color: blue;
    color: white;
}
.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}
.finish button {
    text-align: center;
}
  
.return-button{
    display: inline; /* isso faz com que os itens fiquem na mesma linha*/
    background-color: 0;/* Cor do texto do Menu */
    margin-right: 2 px; /* Adicione o espaçamento desejado entre os itens */
    padding: 10 px 10px 10px 10 px; /* Espaçamento interno do botão*/
    border-radius:5 px; /*borda arredondada*/
    text-decoration: none; /* remova o sublinahdo do link*/
    transition:background-color 0.3s;/*Efeito transição ao passar o mouse*/
    z-index: index 0;
  }
.return-button img{
    vertical-align:middle;/* Centralizar verticalmente a imagem*/
    margin-right: 20px;/* Margem a direita da imagem para separa-la do texto */
    max-width: 30px;
    max-height: 30px;
  }
    


 
